<div class="top" [ngClass]="getTopClass">
    <div class="top-content">
        <div class="top-content-left">
            <div class="search-container">
                <div *ngIf="!canShowSearchAsOverLay" class="normal-search">
                    <input type="search" 
                        class="search" name="" id=""
                        placeholder="Search..."
                    >
                    <i class="far fa-search search-icon"></i>
                </div>
                <div *ngIf="canShowSearchAsOverLay">
                    <button
                    
                        class="search-menu-btn ripple"
                    >
                        <i class="far fa-search search-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="top-content-right">
            <div class="top-menu">
                <div class="top-menu-item">
                    <button class="top-menu-item-btn ripple">
                        <img [src]="'assets/flags/' + selectedLanguage.flag + '.jpg'" 
                            alt="flag" class="flag">
                    </button>
                </div>
                
                <div class="top-menu-item">
                    <button class="top-menu-item-btn ripple">
                        <i class="far fa-bell menu-icon"></i>
                    </button>
                </div>
                <div class="top-menu-item">
                    <button class="top-menu-item-btn ripple">
                        <i class="far fa-comment-alt menu-icon"></i>
                    </button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  Ronald Macayan
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item active" href="#">Login</a></li>
                  <li><a class="dropdown-item" href="#">Dashboard</a></li>
                  <li><a class="dropdown-item" href="#">Register</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </div>
            <div class="top-user-avatar-container">
                <div class="top-user-avatar">
                    <img src="../assets/images/user.jpg" alt="user" class="user-avatar">
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #searchOverLay>
    <div class="overlay ovelay-search overlay-fall" cdkMenu>
        <input type="search" class="search" name="" id="" placeholder="Search...">
        <button class="search-btn">
            <i class="far fa-search search-icon"></i>
        </button>
    </div>
</ng-template>

<ng-template #languageOverlay>
    <div class="overlay overlay-language overlay-fall" cdkMenu>
        <ul>
            <li *ngFor="let lang of languages" cdkMenuItem>
                <img [src]="'assets/flags/' + lang.flag + '.jpg'" alt="flag">
                <span>{{lang.Language}}</span>
            </li>
        </ul>
    </div>

</ng-template>